@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@media (min-width: 768px) {
  select {
    width: auto; /* or a fixed width that works better for desktop */
  }
}
/* For Tailwind's dark mode to work globally */
html {
  --tw-bg-opacity: 1;
  background-color: var(--tw-bg-color);
}

html.dark {
  --tw-bg-opacity: 1;
  background-color: #1f2937; /* Dark Background Color */
}

html.light {
  --tw-bg-opacity: 1;
  background-color: #f9fafb; /* Light Background Color */
}
select {
  font-family: "Noto Color Emoji", sans-serif;
}
select,
option {
  font-family: "Segoe UI Emoji", "Apple Color Emoji", "NotoColorEmoji", "Emoji",
    sans-serif;
}
select,
option {
  color: #333; /* or any dark color to make the flags visible */
}
select {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
